@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@100&family=Nanum+Gothic:wght@400;700;800&display=swap");
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: 'Nanum Gothic', sans-serif;
}

ol, ul, li {
  list-style: none;
}

@-webkit-keyframes moveInLeft {
  0% {
    opacity: 0.1;
    -webkit-transform: translateX(-8rem);
            transform: translateX(-8rem);
  }
  80% {
    -webkit-transform: translateX(1rem);
            transform: translateX(1rem);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@keyframes moveInLeft {
  0% {
    opacity: 0.1;
    -webkit-transform: translateX(-8rem);
            transform: translateX(-8rem);
  }
  80% {
    -webkit-transform: translateX(1rem);
            transform: translateX(1rem);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@-webkit-keyframes moveInRight {
  0% {
    opacity: 0.1;
    -webkit-transform: translateX(10rem);
            transform: translateX(10rem);
  }
  80% {
    -webkit-transform: translateX(-1rem);
            transform: translateX(-1rem);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@keyframes moveInRight {
  0% {
    opacity: 0.1;
    -webkit-transform: translateX(10rem);
            transform: translateX(10rem);
  }
  80% {
    -webkit-transform: translateX(-1rem);
            transform: translateX(-1rem);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@-webkit-keyframes moveOn {
  from {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  to {
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
  }
}

@keyframes moveOn {
  from {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  to {
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
  }
}

h2 {
  padding: 1rem 0;
  font-size: 2.4rem;
  font-weight: 800;
  text-transform: uppercase;
  background: -webkit-gradient(linear, right top, left top, from(#FAC6D0), to(#FFCBD7));
  background: linear-gradient(to left, #FAC6D0, #FFCBD7);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-transition: all .5s;
  transition: all .5s;
}

h2:hover {
  padding-left: 1.5rem;
}

@keyframes moveInLeft {
  0% {
    opacity: 0.1;
    -webkit-transform: translateX(-8rem);
            transform: translateX(-8rem);
  }
  80% {
    -webkit-transform: translateX(1rem);
            transform: translateX(1rem);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@keyframes moveInRight {
  0% {
    opacity: 0.1;
    -webkit-transform: translateX(10rem);
            transform: translateX(10rem);
  }
  80% {
    -webkit-transform: translateX(-1rem);
            transform: translateX(-1rem);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@keyframes moveOn {
  from {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  to {
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
  }
}

#nav {
  height: 70px;
  background: -webkit-gradient(linear, left top, right top, from(#FAC6D0), color-stop(25%, #FAC6D0), color-stop(33%, #FFCBD7));
  background: linear-gradient(to right, #FAC6D0, #FAC6D0 25%, #FFCBD7 33%);
  /* Mobile navigation */
}

#nav-container {
  max-width: 1200px;
  margin: 0 auto;
  height: auto;
  position: fixed;
  left: 0;
  right: 0;
}

#nav .brand {
  position: absolute;
  padding-left: 20px;
  float: left;
  line-height: 70px;
  text-transform: uppercase;
  font-size: 1.4em;
}

#nav .brand a,
#nav .brand a:visited {
  color: #ef426f;
  text-decoration: none;
}

#nav .brand img {
  width: 70%;
  margin-top: 9px;
}

#nav nav {
  float: right;
}

#nav nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

#nav nav ul li {
  float: left;
  position: relative;
}

#nav nav ul li a,
#nav nav ul li a:visited {
  display: block;
  padding: 0 20px;
  line-height: 70px;
  color: #ef426f;
  text-decoration: none;
  font-size: 1.8rem;
}

#nav nav ul li a:hover,
#nav nav ul li a:visited:hover {
  background: rgba(255, 255, 255, 0.5);
  color: #ef426f;
}

#nav nav ul li a:not(:only-child):after,
#nav nav ul li a:visited:not(:only-child):after {
  padding-left: 4px;
  content: " ▾";
  display: inline-block;
}

#nav nav ul li ul li {
  min-width: 190px;
}

#nav nav ul li ul li a {
  padding: 15px;
  line-height: 20px;
  background-color: rgba(255, 255, 255, 0.5);
}

#nav nav ul li ul li:hover {
  font-weight: bold;
}

#nav .nav-dropdown {
  position: absolute;
  display: none;
  z-index: 1;
  -webkit-box-shadow: 0 3px 12px rgba(0, 0, 0, 0.15);
          box-shadow: 0 3px 12px rgba(0, 0, 0, 0.15);
}

#nav-mobile {
  display: none;
  position: absolute;
  top: 0;
  right: 0;
  background: -webkit-gradient(linear, left top, right top, from(#FAC6D0), to(#FFCBD7));
  background: linear-gradient(to right, #FAC6D0, #FFCBD7);
  height: 70px;
  width: 70px;
}

@media only screen and (max-width: 798px) {
  #nav #-mobile {
    display: block;
  }
  #nav nav {
    width: 100%;
    padding: 70px 0 15px;
  }
  #nav nav ul li {
    width: 35vw;
    float: none;
    background-color: rgba(255, 255, 255, 0.5);
  }
  #nav nav ul li a {
    width: 35vw;
    display: inline-block;
    padding: 15px;
    line-height: 20px;
  }
  #nav nav ul li ul li a {
    width: 35vw;
    padding-left: 30px;
  }
  #nav .nav-dropdown {
    position: static;
  }
}

@media screen and (min-width: 799px) {
  #nav .nav-list {
    display: block !important;
  }
}

#nav-toggle {
  position: absolute;
  left: 18px;
  top: 22px;
  cursor: pointer;
  padding: 10px 35px 16px 0px;
}

#nav-toggle span,
#nav-toggle span:before,
#nav-toggle span:after {
  cursor: pointer;
  border-radius: 1px;
  height: 5px;
  width: 35px;
  background: #ef426f;
  position: absolute;
  display: block;
  content: "";
  -webkit-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
}

#nav-toggle span:before {
  top: -10px;
}

#nav-toggle span:after {
  bottom: -10px;
}

#nav-toggle.active span {
  background-color: transparent;
}

#nav-toggle.active span:before, #nav-toggle.active span:after {
  top: 0;
}

#nav-toggle.active span:before {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

#nav-toggle.active span:after {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

body article {
  width: 100%;
  height: 90vh;
  text-indent: -99999999px;
  background-image: url(../images/main.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

@media screen and (min-width: 900px) and (max-width: 1200px) {
  body article {
    height: 70vh;
  }
}

@media screen and (min-width: 701px) and (max-width: 899px) {
  body article {
    height: 50vh;
  }
}

@media screen and (max-width: 700px) {
  body article {
    height: 40vh;
  }
}

body article span.cloud1:before {
  content: "";
  position: absolute;
  top: 12rem;
  right: 11rem;
  width: 13rem;
  height: 8rem;
  background-image: url(../images/Cloud1.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  -webkit-animation: moveOn 1s linear alternate forwards infinite;
          animation: moveOn 1s linear alternate forwards infinite;
}

@media screen and (min-width: 900px) and (max-width: 1200px) {
  body article span.cloud1:before {
    width: 20rem;
  }
}

@media screen and (min-width: 701px) and (max-width: 899px) {
  body article span.cloud1:before {
    width: 15rem;
  }
}

@media screen and (max-width: 700px) {
  body article span.cloud1:before {
    width: 10rem;
  }
}

body article span.cloud2:before {
  content: "";
  position: absolute;
  top: 25rem;
  right: 117rem;
  width: 17rem;
  height: 12rem;
  background-image: url(../images/Cloud2.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  -webkit-animation: moveOn 1s linear alternate forwards infinite 0.3s;
          animation: moveOn 1s linear alternate forwards infinite 0.3s;
}

@media screen and (min-width: 900px) and (max-width: 1200px) {
  body article span.cloud2:before {
    width: 20rem;
  }
}

@media screen and (min-width: 701px) and (max-width: 899px) {
  body article span.cloud2:before {
    width: 15rem;
  }
}

@media screen and (max-width: 700px) {
  body article span.cloud2:before {
    width: 10rem;
  }
}

body article span.cloud3:before {
  content: "";
  position: absolute;
  top: 27.5rem;
  right: 17rem;
  width: 23rem;
  height: 14rem;
  background-image: url(../images/Cloud3.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  -webkit-animation: moveOn 1s linear alternate forwards infinite 0.8s;
          animation: moveOn 1s linear alternate forwards infinite 0.8s;
}

@media screen and (min-width: 900px) and (max-width: 1200px) {
  body article span.cloud3:before {
    width: 20rem;
  }
}

@media screen and (min-width: 701px) and (max-width: 899px) {
  body article span.cloud3:before {
    width: 15rem;
  }
}

@media screen and (max-width: 700px) {
  body article span.cloud3:before {
    width: 10rem;
  }
}

::after {
  content: '';
  display: block;
  clear: both;
}

@keyframes moveInLeft {
  0% {
    opacity: 0.1;
    -webkit-transform: translateX(-8rem);
            transform: translateX(-8rem);
  }
  80% {
    -webkit-transform: translateX(1rem);
            transform: translateX(1rem);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@keyframes moveInRight {
  0% {
    opacity: 0.1;
    -webkit-transform: translateX(10rem);
            transform: translateX(10rem);
  }
  80% {
    -webkit-transform: translateX(-1rem);
            transform: translateX(-1rem);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@keyframes moveOn {
  from {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  to {
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
  }
}

main {
  overflow-x: hidden;
  overflow-y: hidden;
}

#section-about {
  padding: 7rem 0 6.5rem 6rem;
  width: 66.666666%;
  min-height: 60.5vh;
  float: left;
  border-bottom: 2px solid #fff;
}

@media screen and (min-width: 900px) and (max-width: 1200px) {
  #section-about {
    width: 100%;
  }
}

@media screen and (min-width: 701px) and (max-width: 899px) {
  #section-about {
    width: 100%;
    height: 40rem;
    padding: 7rem 6rem 2rem 6rem;
  }
}

@media screen and (max-width: 700px) {
  #section-about {
    width: 100%;
    height: 30rem;
    padding: 7rem 6rem 1rem 6rem;
  }
}

#section-about-photo {
  position: relative;
  width: 35%;
  float: left;
}

@media screen and (min-width: 900px) and (max-width: 1200px) {
  #section-about-photo {
    width: 100%;
  }
}

@media screen and (min-width: 701px) and (max-width: 899px) {
  #section-about-photo {
    width: 100%;
  }
}

@media screen and (max-width: 700px) {
  #section-about-photo {
    width: 100%;
  }
}

#section-about-photo .photo {
  position: absolute;
  width: 80%;
  height: auto;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  -webkit-animation: moveInLeft 3s normal 1.5s;
          animation: moveInLeft 3s normal 1.5s;
}

#section-about-photo .photo:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  padding: 1rem;
  border: 3px solid #FAC6D0;
  z-index: 10;
}

#section-about-photo .photo:nth-child(1) {
  top: 20rem;
  left: -1vw;
}

@media screen and (min-width: 900px) and (max-width: 1200px) {
  #section-about-photo .photo:nth-child(1) {
    width: 20rem;
    height: auto;
    -webkit-transform: translateX(5rem) translateY(-5rem);
            transform: translateX(5rem) translateY(-5rem);
  }
}

@media screen and (min-width: 701px) and (max-width: 899px) {
  #section-about-photo .photo:nth-child(1) {
    max-width: 25vh;
    width: 20rem;
    height: auto;
    -webkit-transform: translateX(-1rem) translateY(7rem);
            transform: translateX(-1rem) translateY(7rem);
  }
}

@media screen and (max-width: 700px) {
  #section-about-photo .photo:nth-child(1) {
    max-width: 33vh;
    width: 15rem;
    height: auto;
    -webkit-transform: translateX(-4rem) translateY(-5rem);
            transform: translateX(-4rem) translateY(-5rem);
  }
}

#section-about-photo .photo:nth-child(2) {
  top: -5rem;
  left: 33vw;
}

@media screen and (min-width: 900px) and (max-width: 1200px) {
  #section-about-photo .photo:nth-child(2) {
    width: 22rem;
    height: auto;
    -webkit-transform: translateX(1rem) translateY(1rem);
            transform: translateX(1rem) translateY(1rem);
  }
}

@media screen and (min-width: 701px) and (max-width: 899px) {
  #section-about-photo .photo:nth-child(2) {
    max-width: 25vh;
    width: 20rem;
    height: auto;
    -webkit-transform: translateX(7rem);
            transform: translateX(7rem);
  }
}

@media screen and (max-width: 700px) {
  #section-about-photo .photo:nth-child(2) {
    width: 15rem;
    height: auto;
    -webkit-transform: translateX(2rem);
            transform: translateX(2rem);
  }
}

#section-about-photo .photo:nth-child(3) {
  width: 70%;
  height: auto;
  left: 45vw;
  top: 0rem;
}

@media screen and (min-width: 900px) and (max-width: 1200px) {
  #section-about-photo .photo:nth-child(3) {
    width: 20rem;
    height: auto;
    -webkit-transform: translateX(20rem) translateY(-1rem);
            transform: translateX(20rem) translateY(-1rem);
  }
}

@media screen and (min-width: 701px) and (max-width: 899px) {
  #section-about-photo .photo:nth-child(3) {
    max-width: 25vh;
    width: 18rem;
    height: auto;
    -webkit-transform: translateX(8rem) translateY(15rem);
            transform: translateX(8rem) translateY(15rem);
  }
}

@media screen and (max-width: 700px) {
  #section-about-photo .photo:nth-child(3) {
    max-width: 30vh;
    width: 15rem;
    height: auto;
    -webkit-transform: translateX(8rem) translateY(5rem);
            transform: translateX(8rem) translateY(5rem);
  }
}

#section-about-photo .photo:nth-child(4) {
  top: -3rem;
  left: 10vw;
}

@media screen and (min-width: 900px) and (max-width: 1200px) {
  #section-about-photo .photo:nth-child(4) {
    width: 21rem;
    height: auto;
    -webkit-transform: translateX(-10rem) translateY(-2rem);
            transform: translateX(-10rem) translateY(-2rem);
  }
}

@media screen and (min-width: 701px) and (max-width: 899px) {
  #section-about-photo .photo:nth-child(4) {
    max-width: 30vh;
    width: 20rem;
    height: auto;
    -webkit-transform: translateX(-5rem) translateY(5rem);
            transform: translateX(-5rem) translateY(5rem);
  }
}

@media screen and (max-width: 700px) {
  #section-about-photo .photo:nth-child(4) {
    max-width: 32vh;
    width: 17rem;
    height: auto;
    -webkit-transform: translateX(-7rem) translateY(-0.5rem);
            transform: translateX(-7rem) translateY(-0.5rem);
  }
}

#section-about-photo .photo:nth-child(5) {
  width: 80%;
  height: auto;
  top: 21rem;
  left: 22vw;
}

@media screen and (min-width: 900px) and (max-width: 1200px) {
  #section-about-photo .photo:nth-child(5) {
    width: 20rem;
    height: auto;
    -webkit-transform: translateX(12rem) translateY(-5rem);
            transform: translateX(12rem) translateY(-5rem);
  }
}

@media screen and (min-width: 701px) and (max-width: 899px) {
  #section-about-photo .photo:nth-child(5) {
    max-width: 28vh;
    width: 20rem;
    height: auto;
    -webkit-transform: translateX(2rem) translateY(-10rem);
            transform: translateX(2rem) translateY(-10rem);
  }
}

@media screen and (max-width: 700px) {
  #section-about-photo .photo:nth-child(5) {
    max-width: 30vh;
    width: 19rem;
    height: auto;
    -webkit-transform: translateX(5rem) translateY(-6rem);
            transform: translateX(5rem) translateY(-6rem);
  }
}

#section-about-photo .photo img {
  width: 100%;
  height: 100%;
  -webkit-box-shadow: 3px 3px 9px 0px rgba(0, 0, 0, 0.5);
          box-shadow: 3px 3px 9px 0px rgba(0, 0, 0, 0.5);
}

#section-etc {
  width: 33.333334%;
  float: left;
  height: inherit;
  -webkit-animation: moveInRight 3s normal 1.5s;
          animation: moveInRight 3s normal 1.5s;
}

@media screen and (min-width: 900px) and (max-width: 1200px) {
  #section-etc {
    width: 100%;
  }
}

@media screen and (min-width: 701px) and (max-width: 899px) {
  #section-etc {
    width: 100%;
  }
}

@media screen and (max-width: 700px) {
  #section-etc {
    width: 100%;
  }
}

#section-etc [id^="etc-"] {
  height: 100%;
}

#section-etc .etc {
  overflow: hidden;
}

@media screen and (min-width: 900px) and (max-width: 1200px) {
  #section-etc .etc {
    width: 33.33333%;
    float: left;
    height: 15rem;
  }
}

@media screen and (min-width: 701px) and (max-width: 899px) {
  #section-etc .etc {
    width: 33.33333%;
    float: left;
    height: 13rem;
    overflow: hidden;
  }
}

@media screen and (max-width: 700px) {
  #section-etc .etc {
    width: 100%;
    height: 12rem;
    overflow: hidden;
  }
}

#section-etc .etc img {
  width: 100%;
  height: 100%;
}

footer {
  color: #474747;
  background-color: #f5e2e2;
  padding: 2rem 0 3rem 0;
  text-align: center;
}

@media screen and (max-width: 700px) {
  footer {
    padding: 2rem 0 3rem 0;
  }
}

footer::after {
  content: '';
  display: block;
  clear: both;
}

footer #footer-top {
  border-bottom: 2px solid #fff;
}

footer #footer-top .inner {
  max-width: 1200px;
  margin: 0 auto;
  padding-left: 8rem;
  padding-bottom: 2rem;
}

footer #footer-top-list {
  font-size: 1.3rem;
}

footer #footer-top-list li {
  float: left;
  margin-right: 20px;
}

footer #footer-top-list li:nth-child(2) {
  font-weight: bold;
}

footer #footer-top-list li a {
  text-decoration: none;
  color: #474747;
}

footer #copyright {
  max-width: 1200px;
  margin: 5rem auto 1rem;
  font-size: 1.3rem;
}

@media screen and (max-width: 700px) {
  footer #copyright {
    width: 60%;
  }
}

footer #copyright p:nth-child(1) {
  margin: 0 0 3rem 0;
  word-break: break-all;
  -webkit-column-count: 2;
          column-count: 2;
  -webkit-column-rule-style: dashed;
          column-rule-style: dashed;
  -webkit-column-rule-width: 1px;
          column-rule-width: 1px;
  -webkit-column-rule-color: #474747;
          column-rule-color: #474747;
  -webkit-column-width: 1rem;
          column-width: 1rem;
}
/*# sourceMappingURL=index.css.map */