$full-width:1903px;
$content-width: 1200px;
$breakpoint: 799px;
$nav-height: 70px;
$color-primary: #FAC6D0;
$color-secondary: #FFCBD7;
$color-background:#f5e2e2;
$nav-font-color: #ef426f;
$color-white:#fff;
$color-white-opacity:rgba(255,255,255,.5)  ;
$color-gray-light:#b9b9b9;
$color-gray-dark:#474747;
